<div class="card shadow border-0 mt-4 text-center">
    <div class="card-header bg-primary py-3">
        <div class="row">
            <div class="col">
                <h2 class="text-white py-2">Velkommen til Nordris Godtfolk</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 " >
        <p>
            Vi er en nystartet gruppe med passion for forhistorisk håndværk<br />
            Vi vægter fællesskabet, læringen og de gode historier der deles rundt om bordet når alle er fordybet i deres projekter.<br />
            Klubben er for voksne der vil afprøve håndværk fra vikingetiden og middelalderen, vi hjælper hinanden og lærer sammen.<br />
            Vi mødes én gang om måneden med faste dage til at nørkle,<br />
            og der ud over arrangeres der ture, bålaftener, temadage samt kurser hvor deltagerprisen er reduceret for medlemmer.<br />
            Det koster 300 årligt for medlemskab og overskuddet bruges til forbedring af klubben.<br />
            Der er mange grene og vi har hjerterum og plads til nye medlemmer.<br />
            -Så tøv ikke med at kontakte os!<br />
            Vi glæder os til at byde dig ind i fællesskabet<br /><br />
            -Nordris Godtfolk
        </p>
    </div>
</div>